
<h1>Showing <%= @controller.name %></h1>

<%= if @controller.ac_mode do %>
  <%= render "_ac.html", assigns %>
<% end %>

<%= if @controller.rgb_mode do %>
  <%= render "_rgb.html" %>
<% end %>

<span><%= link "Back", to: Routes.controller_path(@conn, :index) %></span>
