<h1 class="fade-in-left title">Showing <%= @controller.name %></h1>
<div class="inner-page">
  <div class="action-table">
    <%= if @controller.ac_mode do %>
      <%= render "_ac.html", assigns %>
    <% end %>

    <%= if @controller.rgb_mode do %>
      <%= render "_rgb.html", assigns %>
    <% end %>
  </div>
</div>

<script src="<%= Routes.static_path(@conn, "/js/controller.js") %>"></script>
